<div class="dice-container" (click)="getNumber()">
  <div class="dice dice-{{dice}}">
    <div class="front">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="back">
      <span></span>
    </div>
    <div class="right">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="left">
      <span></span>
      <span></span>
    </div>
    <div class="top">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="bottom">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
